ticketMaster:
  image: mikumifa/bili-ticker-storm-master:latest
  replicas: 1
  configPath: /app/data
  hostDataPath: /run/desktop/mnt/host/c/Users/mikumifa/GolandProjects/biliTickerStorm/data

ticketWorker:
  image: mikumifa/bili-ticker-storm-worker:latest
  pushplusToken: ""
  ticketInterval: ""
  masterServerAddr: ticket-master:40052
  time: ticket-master:40052
  gtBaseUrl: http://gt-python:8000
  ticketTimeStart: 2006-01-02T15:04

gtPython:
  image: mikumifa/bili-ticker-storm-gt-python:latest
  replicas: 1
